.custom_container{
    color:white;
    position: fixed;
    z-index: 10; 
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-pic{
    width: 45vh;
}

.home{
    margin-top: 60px;  
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

#text-group{
    padding: 50px;
}

.custom-page{
    margin-top: 60px;  
    height: auto;
    scroll-margin-top:55px;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-me-content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.background-paragraph{
    text-align: justify;
    padding: 25px;
}

.background-details{
    
    width: 25rem;
    text-align: center;
    padding: 25px;
}


.carousel-container {
    max-width: 80%; /* Set desired width */
    margin: 0 auto; /* Center the carousel */
}

@media (min-width: 768px) {
    .background-paragraph{
        width: 45%; /* Paragraph takes 50% width on larger screens */
    }
}

.hobbies-para{
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    width: 45rem;
}

.hobbies-img{
    width: 100%;
    justify-content: center;
}

.hobbies-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.hob-img-container{
    width: 50rem;
    display: flex;
    flex-direction: column;
}

